/*-------------------- Body part -----------------------*/
body{
    font-family: 'Poppins', sans-serif;
}



/* ----------------------------------First Section -------------------------------------*/
header{
    color: #3A3A3A;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 40px;
    
}


.container{
    margin-left: 90px;
    margin-right: 90px;
}

.Journey{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.Jounrney-details{
    margin-right: 25px;
}
.camera{
    transition: transform 400ms ease-in-out;
    
}
.camera:hover{
transform: scale(1.1);


}

.Tittle{
    color: #3A3A3A;
    font-size: 45px;
}

.tittle-second{
    color: #3A3A3A;
    font-size: 28px;
    text-align: center;
}

/* ---------------------------------------Buttom work Done----------------------------- */
.cilck{
    background-color: #E02C6D;
    border: none;
    color: #FFFFFF;
    font-size: 17px ;
    width: 196px;
    height: 44px;
    padding: 8px;
    border-radius: 20px;
    
}

button:hover{
 background-image: linear-gradient(#FF9F4A ,#FF3C83);
}

/* ----------------------------------Section Section -------------------------------------*/


#container-second{
    margin-left: 100px;
    margin-right: 140px;
    
    
    
}
.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: 12px;
}

.collertion-details{
    
    padding: 15px;
    margin: 15px 25px ;
    text-align: justify;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow:  7px 8px 11px rgb(194, 190, 190) ;
    
    
}

.collertion-details img:hover{
    transform: scale(1.1);
    transition: transform 500ms ease-out;


}

.tripod{
    color: #18191F;
    font-size: 28px;

}

b{
    color: #787885;
    font-size: 14px;
}

.fa-star{
    color: goldenrod;
}

/*---------------------------------------- ankor link------------------------------- */
a{
    text-decoration: none;
    color: #E02C6DDE;
   margin-right: 120px;
   font-size: 20px;

}

/*---------------------------------------- third section------------------------------- */
.tittle-third{
    text-align: center;
    font-size: 40px;
    color: #3A3A3A;
    cursor: grabbing;
    transition: transform 400ms ease-in-out;
}
.tittle-third:hover{
    
    transform: scale(1.2);
}

.container-three{
    margin-bottom: 40px;
}
.order{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.order-table{
    width: 40%;
    overflow: hidden;
    padding: 15px;
    margin: 15px 25px ;
    border-radius: 10px;
    box-shadow:  7px 8px 11px rgb(194, 190, 190) ;
    background-image: linear-gradient(#fd297a88, #9424f0ad);
    transition: all 300ms ease-in-out;
}
.order-table:hover{
    background-image: linear-gradient(#FD297A, #9424F0);
    color: #ffffff;
}
.address-out{
    width: 40%;
    overflow: hidden;
    padding: 15px;
    margin: 15px 25px ;
    border-radius: 10px;
    box-shadow:  7px 8px 11px rgb(194, 190, 190) ;
    background-image: linear-gradient(#eff54d70, #00ac6285);
}
.address-out:hover{
    
    background-image: linear-gradient(#EFF54D, #00AC61);

}
.fa-map-marked-alt{
    font-size: 100px;
    color: rgb(46, 113, 201);

}




/*--------------------------------------- footer work ---------------------------------------------------*/
footer{

 background-color: #03111f;
 height: 260px;
 border-radius: 2px;
 cursor: no-drop;

 
}
footer:hover{
    background-image: linear-gradient(#5fcbe649 , #3f1bcf38);

}
.foot{
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

/*----------------------------------------- icon degine ----------------------------------*/

.fa-instagram-square , .fa-facebook-square , .fa-youtube , .fa-twitter , .fa-internet-explorer{
 font-size: 16px;
 padding: 10px 11px;
 margin: 0px 4px;
 /* padding-left: 20px;
 padding-top: 10px; */
 background-color: rgba(216, 215, 215, 0.137);
 border-radius: 25px;
}

.fa-instagram-square{
    color: #d82e5886;
}
.fa-facebook-square {
     color:#1d1dddce;
}
.fa-youtube {
    color: #e21717d3;
}
.fa-twitter{
    color: #1b97f5d8;
}
.fa-internet-explorer {
    color: #3e3eecbd;
}

hr{
    border: 2px solid rgba(197, 18, 197, 0.521);
    width: 400px;
    margin-top: -22px;
    border-radius: 5px;
    margin-bottom: 30px;
}



























